/* CUSTOM PROPS */
:root {
  --text-color: #333;
  --accent-color-green: #0a775f;
  --accent-color-green-80: rgba(10, 119, 95, 0.8);
  --accent-color-green-60: rgba(10, 119, 95, 0.6);
  --accent-color-light-brown: #c99b67;
  --accent-color-light-brown-80: rgba(201, 155, 103, 0.8);
  --accent-color-light-brown-60: rgba(201, 155, 103, 0.6);
  --light-brown: #f3d7b7;
  --light-bg: #f8f8f2;
  --outline-color: var(--accent-color-green);
}


/* FONTS */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
      url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
      url("../fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
      url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

/* CONTAINER */
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 16px 24px;
  border: 0;
  border-radius: 100px;
  font-size: 16px;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}

.button-green {
  background-color: var(--accent-color-green);
  color: #fff;
}

.button-green:hover {
  background-color: var(--accent-color-green-80);
}

.button-green:active {
  background-color: var(--accent-color-green-60);
}

.button-brown {
  background-color: var(--accent-color-light-brown);
  color: #fff;
}

.button-brown:hover {
  background-color: var(--accent-color-light-brown-80);
}

.button-brown:active {
  background-color: var(--accent-color-light-brown-60);
}



/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* SITE-HEADER-INTRO-WRAPER */
.site-header-hero-wrapper {
  background-color: var(--light-brown);
  background-image: url(../img/site-header-bg.jpg);
}


/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.site-header-logo-link {
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
}

.site-header-logo-link:hover {
  opacity: 0.8;
}

.site-header-logo-link:active {
  opacity: 0.6;
}

.site-header-logo-img {
  width: 233px;
  height: 24px;
  object-fit: contain;
  margin-right: 20px;
}


/* SITENAV */
.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-link {
  display: block;
  font-weight: 700;
  line-height: 14px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap;
}

.sitenav-link:hover {
  color: var(--accent-color-green);
}

.sitenav-link:active {
  opacity: 0.6;
}


/* HERO */
.hero {
}
.hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  padding-bottom: 116px;
  padding-left: 150px;
  padding-right: 116px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: normal;
  color: #000;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.hero-text:not(:last-child) {
  margin-bottom: 34px;
}

.hero-img {
  width: 710px;
  height: 596px;
  object-fit: cover;
}

.hero-img-index {
  height: 696px;
}


/* INDEX-COLLECTION */
.index-collection {
  margin-bottom: 20px;
}

.index-collection-inner {
  padding: 50px 143px;
  background-color: var(--light-bg);
  background-image: url("../img/acti  on-bg.png");
}

.index-collection-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 50px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.index-collection-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.index-collection-item {
  display: flex;
  align-items: center;
}

.index-collection-item:nth-child(even){
  flex-direction: row-reverse;
}

.index-collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

.index-collection-info {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}

.index-collection-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.index-collection-text {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
}

/* .index-collection-item:not(:last-child) {
  margin-bottom: 10px;
}

.index-collection-item:nth-child(odd) .index-collection-info {
  padding-left: 117px;
} */

/* INDEX-FEATURES */
.index-features {
  margin-bottom: 30px;
}

.index-features-inner {
  padding: 50px 30px;
  background-color: #c18b57;
  background-image: url("../img/index-features-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.index-features-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.index-features-lead {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}

.index-features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  list-style: none;
}

.index-features-item {
  width: calc(100% / 3 - 20px);
  margin-bottom: 30px;
  margin-left: 20px;
}

.index-features-img {
  width: 433px;
  height: 500px;
  margin-bottom: 28px;
  object-fit: cover;
}

.index-features-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.index-features-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}


/* HOW-IT-WORKS */
.how-it-works-inner {
  padding: 50px 30px;
  background-color: var(--accent-color-green);
  background-image: url(../img/how-it-works-bg.jpg);
  background-repeat: no-repeat;
  text-align: center;
}

.how-it-works-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

}

.how-it-works-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
  margin-right: -20px;
  text-align: left;
  counter-reset: how-it-works;
}

.how-it-works-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: how-it-works;
}

.how-it-works-item::before {
  content: "";
  width: 60px;
  height: 60px;
  border: 4px solid var(--accent-color-light-brown);
  margin-bottom: 20px;
  background-color: var(--light-bg);
}

.how-it-works-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px;
  background-color: var(--light-bg);
}

.how-it-works-info::before {
  font-size: 64px;
  line-height: normal;
  content: "0"counter(how-it-works);
  align-self: flex-end;
}

.how-it-works-step-title {
  max-width: 250px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.how-it-works-step-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

.how-it-works-cta {
  outline-color: var(--accent-color-light-brown);
}


/* SITE-FOOTER */
.site-footer-content {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 65px 50px;
  background-color: #f2d3b0;
  background-image: url(../img/site-footer-bg.png);

}

.site-footer-logo {
  width: 203px;
  margin-right: 20px;
}

.sitenav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav-footer-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 246px;

}

.sitenav-footer-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-footer-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.site-footer-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin-left: 31px;
}

.site-footer-item:not(:last-child) {
  margin-right: 30px;

}


.site-footer-link {

}

.site-footer-icon {
  display: block;
  width: 30px;
  height: 30px;

}